USE [master]
GO
/****** Object:  Database [Evaluation]    Script Date: 13/04/2021 10:11:27 ******/
CREATE DATABASE [Evaluation]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Evaluation', FILENAME = N'C:\Users\takal\Evaluation.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Evaluation_log', FILENAME = N'C:\Users\takal\Evaluation_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Evaluation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Evaluation]
GO
USE [Evaluation]
GO
/****** Object:  Table [dbo].[Bien]    Script Date: 13/04/2021 10:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bien](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [nchar](10) NOT NULL,
	[Valeur] [nchar](10) NOT NULL,
	[DateCreation] [datetime] NOT NULL,
 CONSTRAINT [PK_Bien] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Liaison]    Script Date: 13/04/2021 10:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Liaison](
	[IdBien] [int] NOT NULL,
	[IdProprietaire] [int] NOT NULL,
	[Unique] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Liaison] PRIMARY KEY CLUSTERED 
(
	[Unique] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proprietaire]    Script Date: 13/04/2021 10:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proprietaire](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](50) NOT NULL,
	[Prenom] [varchar](50) NOT NULL,
	[Localite] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Proprietaire] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Bien]    Script Date: 13/04/2021 10:11:27 ******/
CREATE NONCLUSTERED INDEX [IX_Bien] ON [dbo].[Bien]
(
	[Nom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bien] ADD  CONSTRAINT [DF_Bien_DateCreation]  DEFAULT (getdate()) FOR [DateCreation]
GO
ALTER TABLE [dbo].[Bien]  WITH CHECK ADD  CONSTRAINT [FK_Bien_Bien] FOREIGN KEY([Id])
REFERENCES [dbo].[Bien] ([Id])
GO
ALTER TABLE [dbo].[Bien] CHECK CONSTRAINT [FK_Bien_Bien]
GO
ALTER TABLE [dbo].[Bien]  WITH CHECK ADD  CONSTRAINT [FK_Bien_Bien1] FOREIGN KEY([Id])
REFERENCES [dbo].[Bien] ([Id])
GO
ALTER TABLE [dbo].[Bien] CHECK CONSTRAINT [FK_Bien_Bien1]
GO
ALTER TABLE [dbo].[Liaison]  WITH CHECK ADD  CONSTRAINT [FK_Liaison_Proprietaire] FOREIGN KEY([IdProprietaire])
REFERENCES [dbo].[Proprietaire] ([Id])
GO
ALTER TABLE [dbo].[Liaison] CHECK CONSTRAINT [FK_Liaison_Proprietaire]
GO
ALTER TABLE [dbo].[Proprietaire]  WITH CHECK ADD  CONSTRAINT [FK_Proprietaire_Proprietaire] FOREIGN KEY([Id])
REFERENCES [dbo].[Proprietaire] ([Id])
GO
ALTER TABLE [dbo].[Proprietaire] CHECK CONSTRAINT [FK_Proprietaire_Proprietaire]
GO
USE [master]
GO
